<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed - Reciclador Digital</title>
    <link rel="stylesheet" href="/css/feed.css" />
  </head>
  <body>
    <main class="content">
      <header class="nav-links">
        <nav class="nav">
          <ul class="links">
            <li><img src="/utilites/feed-icon.svg" alt=""></li>
            <li><img src="/utilites/search-icon.svg" alt=""></li>
            <li><img src="/utilites/add-icon.svg" alt=""></li>
            <li><img src="/utilites/like-icon.svg" alt=""></li>
            <li><img src="/utilites/profile-icon.svg" alt=""></li>
          </ul>
        </nav>
      </header>
      <section class="app-header"><img  class="chat"  src="/utilites/share-icon.svg" alt=""></section>
      <section class="app-users-stories">
        <div class="your-storie">
          <div class="user-image">
            you
          </div>  
          <div class="add-story">
            <button type="button">+</button>
          </div>
          <div class="user-name-stories">
            <small id="you-name" >Your Story</small>
          </div>
        </div>
        <div class="user-storie">
          <div class="user-image">
             user
          </div>  
         
          <div class="user-name-stories">
            <small>teste</small>
          </div>
        </div>
        <div class="user-storie">
          <div class="user-image">
             user
          </div>  
         
          <div class="user-name-stories">
            <small>test</small>
          </div>
        </div>
        <div class="user-storie">
          <div class="user-image">
             user
          </div>  
         
          <div class="user-name-stories">
            <small>teste</small>
          </div>
        </div>
      </section>
      <section id="feed"  class="feed">
        <!-- <div class="post">
          <div class="user-info">
            <div class="user-img"></div> 
            
            <div class="user-name">
              <p>thiago_duarte</p>
            </div>
          </div>
          <div class="post-content"></div>
          <div class="interactions">
            <ul class="interact">
              <li id="like"><img id="likeImg" src="" alt="" /><img src="assets/utilites/like-icon.svg" alt=""></li>

              <li id="comnent"><img src="" alt="" /><img src="assets/utilites/cmmnet-icon.svg" alt=""></li>

              <li id="share"><img src="" alt="" /><img src="assets/utilites/share-icon.svg" alt=""></li>

              <li id="save"><img src="" alt="" /><img src="assets/utilites/save-icon.svg" alt=""></li>
            </ul>
            <small class="likes-count"><span>2.000</span> Likes</small>
            <div class="legend"> 
              <small id="User-name" class="User-name">thiago_duarte</small> 

              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quam corporis laborum, </p>
            </div>
          </div>
        </div> -->
        
      </section>
    </main>

    <script src="/js/feed.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </body>
</html>
